:root {
    --main-bg-color: hsl(218, 23%, 16%);
    --secondary-bg-color: hsl(217, 19%, 24%);
    --main-text-color: white;
    --main-font-size: clamp(16px, 2vw, 23px); 
    --third-text-color: hsl(193, 38%, 86%);
    --secondary-text-color: hsl(150, 100%, 66%);
    --border-radius: 15px;
}


@font-face {
  font-family: "Manrope-Regular";
  src: url("/fonts/Manrope-Regular.ttf");
}


body {
     background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
}

* { 
    font-weight: 800;
    font-family: "Manrope-Regular";
    font-size: var(--main-font-size);
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
}

.advice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 35vh;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
}

.advice-number {
    letter-spacing: 5px;
    color: var(--secondary-text-color);
}

.advice {
    text-align: center;
    color: var(--third-text-color);
    font-weight: 600;
}
.divider-image {
    width: 80%;
}

.button-container {
    cursor: pointer;
    margin-bottom: -38px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
    border: 3px solid var(--secondary-text-color);
    transition: 500ms;
}


.button-container:active {
    box-shadow: 0 0 8px 3px hsl(150, 100%, 66%), 0 0 16px 6px hsl(150, 100%, 66%);
}


.loading {
    margin-top: 2rem;
    visibility: hidden;
}


@media (max-width: 425px) {
.advice-container {
    width: 80vw;
    height: 30vh;
}

.button-container {
    -webkit-tap-highlight-color: transparent; /* removes blue highlight on mobile */
    outline: none; /* removes default outline */
}
}